In [ ]:
1. What exactly is []?

In [ ]:
ANS:
[] is the square bracket which is to be enclosed for list seperated with comma with series of data
l=[2,3,45,24,54,4]
# Here l is the variable in which series of data in a list is assigned.

In [ ]:
2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [7]:
#ANS:
spam=[2,4,6,8,10]
spam[2]="hello"
print(spam)
#Here the third value 6 is replaced with the string value "hello" as shown below

[2, 4, 'hello', 8, 10]

# #Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [ ]:
3. What is the value of spam[int(int('3' * 2) / 11)]?

In [18]:
#ANS:
spam=["a","b","c","d"]
print(spam[int(int('3' * 2) / 11)])

d

In [ ]:
4. What is the value of spam[-1]?

In [19]:
#ANS:
spam[-1]

'd'

In [ ]:
5. What is the value of spam[:2]?

In [23]:
#ANS:
spam[:2]
#Here the range function starts from "0" index to "2" index excluding the upper bound.

['a', 'b']

# Let's pretend bacon has the list [3.14, 'cat',11, 'cat',True] for the next three questions.

In [ ]:
6. What is the value of bacon.index('cat')?

In [47]:
#ANS:
bacon=[3.14, 'cat', 11, 'cat', True]
print(bacon.index('cat'))
#The above expression gives the index value in a list as 1.

#similarly 
l=[8,6,42,4,1,4,5]
print(l.index(8))
#The above gives the output as 0.

1
0

In [ ]:
7. How does bacon.append(99) change the look of the list value in bacon?

In [48]:
#ANS:
bacon.append(99)
print(bacon)
#append operation appends the value "99" at the end of the list bacon

[3.14, 'cat', 11, 'cat', True, 99]

In [ ]:
8. How does bacon.remove('cat') change the look of the list in bacon?

In [49]:
#ANS:
bacon.remove("cat")
# The above operation removes one  the value "cat" from the list eventhough it has two same values.
print(bacon)

[3.14, 11, 'cat', True, 99]

In [ ]:
9. What are the list concatenation and list replication operators?

In [ ]:
ANS:
The operator for list concatenation is "+",whereas for list replication is "*"

In [ ]:
10. What is difference between the list methods append() and insert()?

In [9]:
#ANS:
l=[2,63,46,7,64,24,9,5]
l.insert(1,6)
print(l)
# Here we have used the insert operation on the list l,in which the value "6"is extended at index 1 
##without altering the other values in a list.

l.append(45)
print(l)
# Here the value "45" is just gets added up at the end of the list l.

[2, 6, 63, 46, 7, 64, 24, 9, 5]
[2, 6, 63, 46, 7, 64, 24, 9, 5, 45]

In [ ]:
11. What are the two methods for removing items from a list?

In [20]:
#ANS:
#The methods are clear(),pop(),remove().
l=[1,2,3,4,64,8,7,5,56]
l.pop(-2)
print(l)
# Here the pop() operation removes the value "5" available at -2 index.default will be the last value of a list.
l.remove(64)
print(l)
# Here the remove() operation removes the value "64" directly from the list l.
l.clear()
print(l)
# Here the clear() operation clears all the elements from the list l.

[1, 2, 3, 4, 64, 8, 7, 56]
[1, 2, 3, 4, 8, 7, 56]
[]

In [ ]:
12. Describe how list values and string values are identical.

In [ ]:
#ANS:
The similarity between Lists and Strings in Python is that both are sequences. 
The differences between them are that firstly, Lists are mutable but Strings are immutable. 
Secondly, elements of a list can be of different types whereas as String only contains characters 
that are all of String type.

In [26]:
l=["t","e",'s',"t","1"]
for i in l:
    print(i)

n="test1"
for i in n:
    print(i)

# Here we have the same output acheived from the list and from the string which tells us that they are identical.

t
e
s
t
1
t
e
s
t
1

In [ ]:
13. What Is the difference between tuples and lists?

In [ ]:
ANS:
1.Tuples are the sequences of immutable values enclosed within parenthesis,which cannot be altered once they are created
2.Lists are the sequences of mutable values enclosed within [],which can be modified once they are defined.

In [35]:
#list and tuples differnces.
#Here the list is modified 
l1=[6,2,34,5,4,5,6]
print(l1)
l1[0]=5652
print(l1)

# Here tuples cannot be modified 
l2=(6,31,31,5)
print(l2)
l2[0]=36
print(l2)

[6, 2, 34, 5, 4, 5, 6]
[5652, 2, 34, 5, 4, 5, 6]
(6, 31, 31, 5)

TypeError: 'tuple' object does not support item assignment

In [ ]:
14. How do you type a tuple value that only contains the integer 42?

In [38]:
#ANS:
The trailing comma is mandatory.(42,).otherwise it will be of int datatype.
#consider the below examples

In [43]:
l3=(42)
type(l3)

int

In [44]:
l3=(42,)
type(l3)

tuple

In [ ]:
15. How do you get a list value is tuple form? How do you get a tuple value is list form?

In [32]:
#ANS:
l=[[28],["test1"],["test2"],[42]]
a=list(map(tuple,l))
print(a)
#we can use the map function to convert list to tuple.

l1=((28,),("test1",),("test2",),(42,))
b=list(map(list,l1))
print(b)
#we can use the map function to convert list to tuple.

[(28,), ('test1',), ('test2',), (42,)]
[[28], ['test1'], ['test2'], [42]]

In [ ]:
16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they
contain?

In [ ]:
ANS:
The most common way to declare a list in Python is to use square brackets.
A list is a data structure in Python that contains an ordered sequence of zero or more elements. 
Lists in Python are mutable, which means they can be changed. They can contain any type of data, 
like a string or a dictionary.